.login-container {
    width: 100%;
    max-width: 4800px;
    margin: 40px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    align-items: center;
    background-color: #ffffff;
}

.login-container h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.error-message {
    color: red;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
}

.login-field {
    margin-bottom: 15px;
}

.login-field span {
    color: #333;
    font-weight: bold;
    margin-right: 10px;
}

.login-field input {
    width: calc(100% - 100px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    line-height: 1.5;
}

.login-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.login-button:hover {
    background-color: #0056b3;
}
