.password-input ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    background-color: #f3f4f6;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.password-input li, .password-input label {
    display: flex;
    align-items: center;
    margin-right: 20px;
    color: #333;
}

.password-input input[type="text"], .password-input input[type="checkbox"] {
    margin-right: 5px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.password-input input[type="text"] {
    padding: 5px 8px;
}

.password-input input[type="checkbox"] {
    transform: scale(1.2);
}

.password-input button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.password-input button:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    background-color: #ffe0e0;
    border: 1px solid red;
    padding: 5px;
    margin-top: 5px;
    border-radius: 4px;
}

.password-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    margin: auto; /* Centering the table */
}
.password-header, .password-row {
    display: grid;
    grid-template-columns: repeat(6, 2fr); /* Five equal fractions */
    gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.password-header {
    background-color: #f4f4f4; /* Light grey background for the header */
    font-weight: bold;
}

.password-row div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.password-row button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.password-row button:hover {
    background-color: #43A047;
}

.shared-password-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
}

.shared-password-component h3 {
    color: #333;
    margin-bottom: 20px;
}

html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.functional-areas {
    display: flex;
    align-items: center;
    justify-content: space-between;
}